@{
    ViewData["Title"] = "Set up business";
}
<div class="text-center">
    <h1 class="display-4">Set your availability</h1>

    <div style="display: inline-block; margin-top: 30px;">

        @using (Html.BeginForm("SetMeAvailable", "seller", FormMethod.Post))
        {
            @model BookingSystem.DTOs.TimeFrameDto
            <div>
                <label for="From">From:</label>
                @Html.EditorFor(model => model.StartTime)
            </div>
            <div>
                <label for="To">To:</label>
                @Html.EditorFor(model => model.EndTime)
            </div>
            <div>
                @Html.ValidationMessage("CustomError")
            </div>

            @if (TempData["success"] != null)
            {
                <div id="SuccessMessage">@Html.Encode(TempData["success"])</div>
            }
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Add" class="submit" />
            </div>
        }

    </div>

    <div>
        @if (ViewData["seller"] != null)
        {

            <p style="float: left">Already set:</p>
            <table>
                <tr>
                    <th>From</th>
                    <th>To</th>
                </tr>
                @foreach (var wh in (ViewData["seller"] as Seller).WorkingHours)
                {
                    <tr>
                        <td>  @wh.StartTime -</td>
                        <td>  @wh.EndTime </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p> style="float: left" No dates to show</p>
        }

    </div>
</div>

