@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br> @User.Identity.Name</h1>
</div>

<hr />

<div style="display: inline-block; margin-right: 20px;">

    @if ((ViewData["seller"] as Seller).Appointments.Count == 0)
    {
        <h3>No appointments to show.</h3>
    }
    else
    {
        <h3>Upcoming  appointments.</h3>
        <table>
            <tbody>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Seller</th>
                </tr>
                @foreach (var appointment in (ViewData["seller"] as Seller).Appointments)
                {
                    <tr>
                        <th>
                            @appointment.TimeFrame.StartTime
                        </th>
                        <th>
                            @appointment.TimeFrame.EndTime
                        </th>
                        <th>
                            @appointment.Seller
                        </th>
                        <th>
                            @appointment.Accepted
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    }
</div>